zmodule zsh-users/zsh-completions --fpath src
zmodule archive
zmodule fzf
zmodule utility
zmodule completion
zmodule prompt-pwd
zmodule git-info
zmodule jeffreytse/zsh-vi-mode
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-history-substring-search

export PURE_GIT_UP_ARROW=""
export PURE_GIT_DOWN_ARROW=""
zmodule sindresorhus/pure --source async.zsh --source pure.zsh
